.detailPage {
  color: rgba(0, 0, 0, 0.7);
  margin: 20px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  align-items: center;
  padding: 1em 2em;
}

.detailPage > img {
  object-fit: contain;
  width: 100%;
  max-width: 750px;
}

.detailPage > h2 {
  padding-top: 12px;
}

.detailPage__backButton {
  height: 40px;
  border: none;
  font-weight: 500;
  font: 20px;
  background-color: #333;
  color: whitesmoke;
  border-radius: 10px;
  outline: none;
  padding: 0 20px;
  transition: transform 150ms;
}

.detailPage__backButton:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #333;
  border: 1px solid #333;
  transform: scale(1.02);
}

.detailPage__buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {
  .detailPage {
    padding: 1em;
  }
}
