.footer {
  border-top: 1px solid lightgray;
  background-color: #f7f7f7;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
}

.footer > p{
  font-weight: 600;
}
