.nav {
  border-bottom: 1px solid lightgray;
  padding: 1em;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #333;
}

.nav > a {
  text-decoration: none !important;
  font-size: 15px;
  margin-right: 20px;
  color: whitesmoke !important;
}

.nav > a:hover {
  text-decoration: underline !important;
}
